// COLORS
$color-white: #ffffff;
$color-black: #000000;
$color-brown: #8b572a;
$color-dark-grey: #424043;
$color-light-grey: #979797;
$color-transparent: transparent;

$color-primary-red: #ef6f6f;

$color-blue-green: #61dbc4;
$color-light-blue: #83d2e7;
$color-primary-blue: #37bec8;

$color-light-yellow: #f5db80;
$color-primary-yellow: #ffcc00;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 128rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;